* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  width: 250px;
  height: 250px;
  transition: all 0.3s ease;
}

img:hover {
  transform: scale(1.1);
}

.flash-products-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
.headerWrapper {
  display: block;
  text-align: center;
  padding: 10px;
}
.page-wrapper {
  display: flex;
  flex-direction: column;
}

.products-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  width: 20%;
}
.products-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.green {
  background: #2bd9af;
}
.pink {
  background: #ff5e84;
}
.button {
  background-color: #2bd9af;
  width: 450px;
  height: 300px;
  border-radius: 10px;
  text-align: center;
  font-size: large;
  font-size: 180px;
}
.btn {
  background-color: #ff5e84;
  width: 450px;
  height: 300px;
  border-radius: 10px;
  margin-left: 600px;
  text-align: center;
  font-size: 180px;
  margin-top: -300px;
}
.card-description {
  border-radius: 10px;
}
.price {
  color: blue;
  text-align: center;
}
